@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;500;700&display=swap');

:root {
    --very-dark-desaturated-blue: hsl(238, 29%, 16%);
    --soft-red: hsl(14, 88%, 65%);
    --very-dark-grayish-blue: hsl(237, 12%, 33%);
    --Dark-grayish-blue: hsl(240, 6%, 50%);
    --Light-grayish-blue: hsl(250, 3%, 66%);

}

* {
    padding: 0;
    margin: 0;
}

body,
html {
    width: 100%;
    height: 100%;
}

body {
    background: linear-gradient(180deg, rgba(175, 103, 233, 1) 0%, rgba(101, 101, 231, 1) 100%) no-repeat fixed;
    font-family: 'Kumbh Sans', sans-serif;
    font-size: 12px;
}

main {
    height: inherit;
    width: inherit;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    background: white;
    width: 950px;
    height: 500px;
    border-radius: 25px;
    box-shadow: red 15px 10px 10px -15px;
    display: grid;
    grid-template-columns: 50% 50%;
    box-shadow: 0 100px 100px -100px var(--very-dark-desaturated-blue);

}

.illustration {
    position: relative;
    width: 500px;
    height: 100%;
    background: url(./images/bg-pattern-desktop.svg) -34em -21em no-repeat;
    background-size: 66em 71em;
}

.overflow-wrap {
    overflow: hidden;
    width: inherit;
    height: inherit;
    border-radius: 25px;
}

.woman-illustration {
    position: relative;
    right: 60px;
    top: 70px;
    width: 90%;
}


.box-illustration {
    position: absolute;
    width: 40%;
    top: 200px;
    right: 400px;
}



.woman-illustration img,
.box-illustration img {
    max-width: 100%;
    max-height: 100%;
}


.faq {
    margin-top: 15%;
    padding-inline: 10%;
}

.faq h1 {
    font-size: 2rem;
    font-weight: 700;
    margin-bottom: 1rem;
}

.question {
    margin-top: 15px;
    margin-bottom: 0px;
    border: none;
    border-bottom: 1px solid var(--Light-grayish-blue);
    position: relative;
    cursor: pointer;
    width: 90%;
    text-align: left;
    background-color: transparent;
}

.question p {
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 0.5px;
    margin-bottom: 15px;
    color: var(--very-dark-desaturated-blue);
}

.question:hover p {
    color: var(--soft-red);
}

.question:active p,
.question:focus p {
    color: var(--very-dark-grayish-blue);
    font-weight: bold;
    transition: font-weight 250ms;
}

.question::before {
    content: url(./images/icon-arrow-down.svg);
    transform: rotate(0.5turn);
    transition: transform 250ms ease-out;
    position: absolute;
    right: 10px;

}

.question::after {
    content: "";
    text-align: left;
    font-size: 13px;
    line-height: 17px;
    color: var(--Light-grayish-blue);
    height: 0px;
    width: 100%;
    display: block;
    transform: scaleY(0);
    transform-origin: top;
    margin-top: 10px;
    margin-bottom: 5px;
    transition: height 250ms ease-out, transform 250ms ease;
}

.question:focus::after,
.question:active::after {
    height: 50px;
    transition: height 250ms ease-out, transform 250ms ease;
    padding-bottom: 0;
    transform: scaleY(1);
}

.question:focus::before,
.question:active::before {
    transition: transform 250ms ease-out;
    transform: rotate(0);
}

.question:focus,
.question:active {
    padding-bottom: 0;
}


.q1::after {
    content: "You can invite up to 2 additional users on the Free plan. There is no limit on team members for the Premium plan.";
}

.q2::after {
    content: "No more than 2GB. All files in your account must fit your allotted storage space.";
}

.q3::after {
    content: " Click “Forgot password” from the login page or “Change password” from your profile page. A reset link will be emailed to you.";
}

.q4::after {
    content: "Yes! Send us a message and we’ll process your request no questions asked.";
}

.q5::after {
    content: "Chat and email support is available 24/7. Phone lines are open during normal business hours.";
}

@media only screen and (max-width:900px) {
    .container {
        transform: scale(0.9);
    }
}

@media only screen and (max-width:800px) {
    main {
        height: 1000px;
    }

    .container {
        display: flex;
        flex-wrap: wrap;
        align-content: flex-end;
        height: 600px;
        width: 350px;
        position: relative;
        background: white url(./images/bg-pattern-desktop.svg) 3em -13em no-repeat;
        background-size: 24em;
    }

    .faq h1 {
        text-align: center;
        padding-right: 10px;
    }

    .faq {
        margin-inline: 0;
        padding-left: 15px;
        padding-right: 0;
        width: inherit;
        height: 420px;
    }

    .question {
        width: 95%;
    }

    .question::after {
        width: 90%;
    }

    .overflow-wrap {
        overflow: visible;
        height: 200px;
        position: relative;
    }

    .illustration {
        transform: scale(0.65);
        position: absolute;
        height: 200px;
        bottom: 610px;
        right:-135px;
        background:none;
    }
}
